@fission-ai:registry=https://registry.npmjs.org/
audit=true
audit-level=high
engine-strict=true
fund=false
ignore-scripts=true
package-lock=true
prefer-online=true
registry=https://registry.npmjs.org/
replace-registry-host=never
save-exact=true
strict-ssl=true
update-notifier=false
